<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Zotpicknix</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-light.css">
    <script src="javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Zotpicknix</h1>
        <p>Integrating the Zotero Picker in Linux with Scrivener (or another text editor)</p>

        <p class="view"><a href="https://github.com/emmareisz/zotpicknix">View the Project on GitHub <small>emmareisz/zotpicknix</small></a></p>


        <ul>
          <li><a href="https://github.com/emmareisz/zotpicknix/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/emmareisz/zotpicknix/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/emmareisz/zotpicknix">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
      {{content}}
      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/emmareisz">emmareisz</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>

  </body>
</html>
